
html {
   opacity: 0.7;
   margin: 0px;
   height: 100%;
   width: 100%;
}

 body {
   overflow: hidden;
   background-image: url(../img/forrestBackground/forrestBackground0.jpeg);
   background-size: cover;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content:flex-start;
   gap: 10px, 10px;
   flex-direction: row;
}

#canvasGlassJar {
    background-image:  url(../img/glassJar.png);
    margin: 2%;
    margin-left: 20%;
}

#toastContainer{
    display: flex;
    flex-flow: column;
    justify-content:center;
}

#author{
    position: absolute;
    left: 75%;
    top: 75%;
    color: black;
    text-shadow: 2px 2px red;
    font-family: Arial, Helvetica, sans-serif;
}





