
html {
    opacity: 0.7;
    margin: 0px;
   height: 100%;
   width: 100%;
}


 body {
   overflow: hidden;
   background-image: url(../img/forrestBackground.jpeg);
   background-size: cover;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   
} 

#canvasGlassJar {
    background-image:  url(../img/glassJar.png);
    margin: 2%;
}

#toastContainer{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


element.style {
}
.toast:not(:last-child) {
    margin-bottom: 0.75rem;
}
.toast{
    opacity: 1;
}



